<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<arg name="robot_name" default="ashwini"/>

	<include file="$(find ashwini)/launch/robot_description.launch"/>
	<include file="$(find ashwini)/launch/move_base.launch"/>

	<!-- RealSense D455 with RGB-D and IMU -->
	<include file="$(find realsense2_camera)/launch/rs_camera.launch">
		<arg name="enable_color" value="true"/>
		<arg name="enable_depth" value="true"/>
		<arg name="align_depth" value="true"/>
		<arg name="unite_imu_method" value="linear_interpolation"/>
		<arg name="publish_odom_tf" value="false"/>
	</include>

	<!-- RViz -->
	<node name="rviz" pkg="rviz" type="rviz" respawn="false"
		args="-d $(find ashwini)/rviz/real.rviz"/>

	<!-- RPLIDAR -->
	<node pkg="rplidar_ros" type="rplidarNode" name="rplidarNode" output="screen">
		<param name="serial_port" value="/dev/ttyUSB0"/>
		<param name="serial_baudrate" value="256000"/>
		<param name="frame_id" value="hokuyo"/>
		<param name="angle_compensate" type="bool" value="true"/>
    </node>
	<node pkg="ashwini" type="lidar.py" name="lidar_correct" output="screen"/>

	<!-- EKF for sensor fusion -->
	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_filter_node" output="screen">
		<rosparam file="$(find ashwini)/config/ekf.yaml" command="load" />
	</node>

	<!-- IMU -->
	<node pkg="ashwini" type="correct_imu.py" name="imu_correct" output="screen"/>
	<node pkg="ashwini" type="publish_imu.py" name="imu_node" output="screen"/>
	
	<!-- Lane Detection System -->
	<include file="$(find ashwini)/launch/lane_detection.launch">
		<arg name="enable_debug" value="false"/>
	</include>
	
	<node pkg="ashwini" type="teleop.py" name="teleop_node" output="screen"/>

</launch>
